<div class="photo-info" data-photo-id="<%=photo.id%>" data-trip-id="<%=@trip.id%>">
    <div class='photo_caption'><%=photo.caption%></div>
    <div class='photo_lat'><%=photo.lat%></div>
    <div class='photo_long'><%=photo.long%></div>
    <div class='photo_date'><%=photo.display_date%></div>
    <div><a href="#" class="delete_button">Delete</a> | 
    <%= link_to "Edit", edit_trip_photo_path(photo.trip_id), {class: 'edit_button'} %></div>
</div>
