<div class="container">
  <h1 id='edit_header'>Edit your trip</h1>
  <%= link_to "Delete this trip", @trip, :confirm => "Are you sure you want to delete #{@trip.name}?", :method => :delete %>
  <h2>Import Your Photos!</h2>
  <a href="/instagram/connect"><button class="fetch-button"><i class="icon-instagram"></i> Get Instagram Photos</button></a>
  <a href="#"><button class="fetch-button" onclick="document.querySelector('#manual_upload').click()"><i class="icon-upload"></i> Upload Photos</button></a>
  <a href="/facebook/connect"><button class="fetch-button"><i class="icon-facebook"></i> Get Facebook Photos</button></a>

  <input id="manual_upload" style="visibility: collapse; width: 0px;" type="file" multiple onchange="uploadImage(this.files,this.files.length-1)">
  <div id="counter"></div>
  <div id="results">
    <div id="results_label">Drag and Drop New Photos Here</div>
    <div id="preview_area"></div>
  </div>

  <h2>Edit Trip Dates</h2>

  <%= form_for @trip do |f| %>
  <div class="edit-form">
    <div>
      <div>
        <%= f.label :name %><br>
        <%= f.text_field :name, :placeholder => @trip.name %>
      </div>
      <div>
        <%= f.label :location  %><br>
        <%= f.text_field :location, :placeholder => @trip.location  %>
      </div>
    </div>
    <div>
      <div>
        <%= f.label :end  %><br>
        <%= f.text_field :end, :class => 'datepicker', :placeholder => @trip.end  %>
      </div>
      <div>
        <%= f.label :start  %><br>
        <%= f.text_field :start, :class => 'datepicker', :placeholder => @trip.start%>
      </div>
    </div>
    <div class="submit-field">
      <%= f.submit "Update Dates" %>
    </div>
  </div>
  <% end %>
  <% if @trip.photos.any? %>

    <h2>Edit Photos</h2>
    <% @trip.photos.each do |photo| %>
      <div class='single_photo' >
        <%= image_tag photo.url  %><br>
        <%= render partial: "photo_details", :locals => {:photo => photo} %>
        
      </div>
    <% end %>
  <% end %>

  <%= form_for([@trip, Photo.new], method: :put, html: {class: 'hidden', id: 'editForm'} ) do |f| %>
  <%= f.label :caption, 'Caption:' %><br>
  <%= f.text_field :caption, {class: 'caption'} %><br>
  <%= f.label :date, 'Date:' %><br>
  <%= f.text_field :date, {class: 'form_datepicker'} %><br>
  <%= label_tag "photo_address", 'Enter an Address:' %><br>
  <%= text_field_tag "photo_address", nil, class: "address", style: "width: 70%" %><br>
  <%= link_to 'Or Find on a Map', edit_trip_path(@trip), class: "locator-button" %><br>
  <%= f.hidden_field :lat, {class: 'lat'} %>
  <%= f.hidden_field :long, {class: 'long'} %>
  <%= hidden_field(:photo, :id, :class => :photo_id) %>
  <%= hidden_field(:photo, :trip_id, :class => :trip_id) %>
  <%= f.submit 'Done' %>
  <% end %>

  <div>
    <%= link_to 'View your trip!', trip_path(@trip),  class: "view-trip-button"  %>
  </div>


</div>
<script>
$(document).ready(function() {
  $('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
  $('.edit_trip').on('submit', function (event) {
    var tripName = $('#trip_name');
    var tripStart = new Date($('#trip_start').val());
    var tripEnd = new Date($('#trip_end').val());
    if (tripStart.getTime() > tripEnd.getTime()) {
        event.preventDefault();
        alert('Your end date must be after your start date');
    }
    if (tripName.val().length > 50) {
        alert('Your trip name is too long');
        event.preventDefault();
    }

});
  EditButton.initialize("<%= @trip.location if @trip.location %>");
  DeleteButton.initialize();
  imgur_uploader();
});
</script>



