<div class="container">
  <% if @user == @trip_user %>
  <h1>Edit your Trip</h1>
  <%= form_for @trip do |f| %>
    <%= f.text_field :name, :placeholder => @trip.name %>
    <%= f.text_field :start, :class => 'datepicker', :placeholder => @trip.start%>
    <%= f.text_field :end, :class => 'datepicker', :placeholder => @trip.end  %>
    <%= f.submit %>
  <% end %>
  <p><a href="/instagram/connect">Fetch Photos From Instagram</a></p>
<p><a href="/facebook/connect">Fetch Photos From Facebook</a></p>

  <div>
    <%= form_tag trip_path, method: "PUT"  do |f| %>
        <% @photos.each do |photo|%>    
            <img src="<%= photo.url %>" ><br>
            <span> <%= photo.caption%> | <%= photo.lat  %> | <%= photo.long  %>
                <%= fields_for "photos[#{photo.id}]", photo do |p| %>
                    <%= p.hidden_field 'url', value: photo.url %>
                    <%= p.check_box 'id' %>
                <% end %>
            </span>
        <% end %>
        <%= submit_tag 'Submit'  %>
    <% end %>
</div>

  <script>
    $(function() {
      $( ".datepicker" ).datepicker({dateFormat:'yy-mm-dd'});

    });
  </script>
  <% else %>
  <h1>YOU LACK PERMISSIONS, PEON.</h1>
  <% end %>
</div>
