<div class="container">
  <h1 id='edit_header'>Edit your trip</h1>
  <h2>Import Your Photos!</h2>
  <a href="/instagram/connect"><button class="fetch-button"><i class="icon-instagram"></i> Get Instagram Photos</button></a>
  <a href="#"><button class="fetch-button" onclick="document.querySelector('#manual_upload').click()"><i class="icon-upload"></i> Upload Photos</button></a>
  <a href="/facebook/connect"><button class="fetch-button"><i class="icon-facebook"></i> Get Facebook Photos</button></a>

  <input id="manual_upload" style="visibility: collapse; width: 0px;" type="file" multiple onchange="uploadImage(this.files,this.files.length-1)">
  <div id="counter"></div>
  <div id="results">
    <div id="results_label">Drag and Drop New Photos Here</div>
    <div id="preview_area"></div>
  </div>

  <%= form_for @trip do |f| %>
    <%= f.label :name %>  
    <%= f.text_field :name, :placeholder => @trip.name %>
    <%= f.label :start  %>
    <%= f.text_field :start, :class => 'datepicker', :placeholder => @trip.start%>
    <%= f.label :end  %>
    <%= f.text_field :end, :class => 'datepicker', :placeholder => @trip.end  %>

    <%= f.submit %>
  <% end %>
  <% if @trip.photos.any? %>
    <h2>Available Photos</h2>
    <% @trip.photos.each do |photo| %>
      <div class='single_photo' >
        <%= image_tag photo.url  %><br>
        <%= render partial: "photo_details", :locals => {:photo => photo} %>
        
      </div>
    <% end %>
  <% end %>

  <%= form_for([@trip, Photo.new], method: :put, html: {class: 'hidden', id: 'editForm'} ) do |f| %>
  <%= f.label :caption, 'Caption:' %><br>
  <%= f.text_field :caption, {class: 'caption'} %><br>
  <%= f.label :date, 'Date:' %><br>
  <%= f.text_field :date, {class: 'form_datepicker'} %><br>
  <%= label_tag "photo_address", 'Enter an Address:' %><br>
  <%= text_field_tag "photo_address", nil, class: "address", style: "width: 70%" %><br>
  <%= link_to 'Or Find on a Map', edit_trip_path(@trip), class: "locator-button" %><br>
  <%= f.hidden_field :lat, {class: 'lat'} %>
  <%= f.hidden_field :long, {class: 'long'} %>
  <%= hidden_field(:photo, :id, :class => :photo_id) %>
  <%= hidden_field(:photo, :trip_id, :class => :trip_id) %>
  <%= f.submit 'Submit' %>
  <% end %>

</div>
<script>
$(document).ready(function() {
  $('.datepicker').datepicker({dateFormat:'yy-mm-dd'});
  EditButton.initialize();
  DeleteButton.initialize();
  imgur_uploader();
});
</script>



