<div class="main-container">
	<h1>Add a trip</h1>
	<%= form_for @trip do |f| %>
		<%= f.label :name, "Trip Name" %>
		<%= f.text_field :name, :placeholder => 'e.g., Road Trip 2013' %>
    <%= f.label :location, "Start Location" %>
    <%= f.text_field :location, :placeholder => 'e.g., Barcelona' %>
		<%= f.label :start, "Start Date"  %>
	  <%= f.text_field :start, :class => 'datepicker'  %>
	  <%= f.label :end, "End Date"  %>
	  <%= f.text_field :end, :class => 'datepicker'  %>
		<%= f.submit %>
	<% end %>

</div>

<script>
$(document).ready(function(){
  $('#new_trip').on('submit', function (event) {
        tripName = $("#trip_name");
        tripLocation = $('#trip_location');
        if (tripName.val().length > 50) {
            event.preventDefault();
            alert('Your trip name is too long');
        }
        if (tripLocation.val().length > 50) {
            alert('Location name is too long.');
            event.preventDefault();
        }
    });

});
  $(function () {
    $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd'
    });
 


});
</script>