<div id="trip-title">
  <h1><%= @trip.name %></h1>
  <div class="trip-subtitle">
  <% if current_user == @trip.user %>
    <%= link_to "Edit this trip", edit_trip_path(@trip), class: "edit-button" %>|<%= link_to "Delete this trip", @trip, :confirm => "Are you sure you want to delete #{@trip.name}?", :method => :delete, class: "delete-button" %>
  <% else %>
    <p class="trip-username">Uploaded by: <%= @trip.user.name %></p>
  <% end %>
  </div>
</div>

<div class="map-wrapper">
  <div id="map-canvas"></div>
</div>

<div class="photos-wrapper">
  <% if @photos %>
    <% @photos.each do |photo|%>
      <%= image_tag photo.url, class: 'photo', data: {lat: photo.lat, lng: photo.long}%>
      <% if photo.caption != "" %>
        <div class="photo-caption">
          <%= photo.caption %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>


<svg class="main-svg"></svg>

<script>
	$(document).ready(function() {
	  gmap.initialize("<%= @trip.location if @trip.location %>");
    ViewPort.initialize();
	});
</script>
