<h1>Photos</h1>

<% if @photos %>
	<p>Photo List:</p>
	<p>Trip ID in session: <%= session[:current_trip] %></p>
	<ul>
		<% @photos.each do |photo| %>
			<li><%= link_to photo.url, photo_path(photo),:target => "_blank" %> - Trip: <%= photo.trip_id %></li>
		<% end %>
	</ul>
<% end %>

<div class="clear"></div>
<h2>Upload Multiple Photos</h2>

<%= s3_uploader_form callback_url: photos_url, callback_param: "photo[image_url]", id: "myS3Uploader" do %>
	<%= hidden_field_tag  "Content-Type", "" %>
  <%= file_field_tag :file, multiple: true %>
<% end %>

<script>
	$(function(){
		$("#myS3Uploader").S3Uploader({
			dropZone: $(document)
			// disableImageResize: false,
			// imageMaxWidth: 800
		});
	});
</script>

<script id="template-upload" type="text/x-tmpl">
	<div id="file-{%=o.unique_id%}" class="upload">
	  {%=o.name%}
	  <div class="progress"><div class="bar" style="width: 0%"></div></div>
	</div>
</script>

