<!DOCTYPE html>
<html>
<head>
  <title>JourneyTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div id='title_link'><%= link_to 'Viagg.io', root_url %></div>
  <% if current_user %>
    <div id='username_link'>Signed in as <%=link_to current_user.name, user_path(current_user) %> |
    <%= link_to "Sign out", signout_path, id: "sign_out" %></div>
  <% end %>
</nav>


  <%= yield %>


</body>
</html>
