<!DOCTYPE html>
<html>
<head>
  <title>JourneyTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <span id='nav_span'>
    <span id='title_link'><%= link_to 'Viagg.io', root_url %></span>
    <% if @user %>
      <span id='username_link'>Signed in as <%=link_to @user.name, user_path(@user) %>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %></span>
    <% end %>
  </span>
</div>


  <%= yield %>

</body>
</html>
